GOOGLE_CLOUD_PROJECT=your-project-id
BUCKET_NAME=your-bucket-name
TOPIC_ID=your-topic-id
GOOGLE_MAPS_API_KEY=YOUR_API_KEY
SERVICE_NAME=dog-finder-app
REGION=us-central1
BIGQUERY_DATASET=lost_dogs
BIGQUERY_TABLE=publications
GOOGLE_CLIENT_ID=your-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=YOUR_OAUTH_CLIENT_SECRET
FLASK_SECRET_KEY=YOUR_RANDOM_FLASK_SECRET_KEY
LOAD_TEST_API_KEY=your_secret_api_key_here
